/* CSS Document */
body, p, ul, ol, button, input, select, textarea {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    float: right;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s ease;
}

#content.active{
    width: 100%;
}

/* ---------------------------------------------------
    FOOTER STYLE
----------------------------------------------------- */

.copyright {
    font-family: proxima-nova, serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: .02em;
    line-height: 1.6em;
    text-align: center;
    margin: 0 auto 20px;
}

/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */

.navbar{
	position: inherit;
}

.cargo-table-container{
	padding: 20px;
}

.add-cargo-text{
	width: 150px;
	height: 40px;
}

.add-cargo-btn{
	border: none;
	color: #E2E2E2;
    background: #555;
    font-size: 1.1em;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 5px;
	width: 150px;
	height: 40px;
	cursor: pointer;
}

.b2w-footer {
    width: 100%;
    float: left;
}