<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="/s/img/favicon.ico" type="image/x-icon" >
<link rel="shortcut icon" href="/s/img/favicon.ico" type="image/x-icon" >
<title>${page_title}</title>
<!-- Bootstrap core CSS -->
<link href="/s/css/bootstrap.min.css" rel="stylesheet">
<link href="/s/css/base.css" rel="stylesheet">
<link href="/s/css/entry.css" rel="stylesheet">
</head>
<body>
<div class="login-background">
  <div class="login-container">
    <div class="welcome-logo"></div>
    <div class="login-area">
      <form action="/login" role="form" method="POST">
        <div class="login-username">
            <label for="username" class="login-hint">Username</label><input type="text" class="form-control login-text" id="username" name="username" title="">
        </div>
        <div class="login-hint login-password-hint">
        </div>
        <div class="login-password">
          <label for="password" class="login-hint">Password</label><input type="password" class="form-control login-text" id="password" name="password" title="">
        </div>
        <div>
        <div class="login-failtext">
         % if error == "1":
             Wrong username or password
         % elif error == "2":
             You are not authorised to visit that page
         % elif error == "3":
             You have input illegal parameters
         % endif
        </div>
        <button type="submit" class="login-button">Login</button>
        </div>
      </form>
    </div>
  </div>
<!-- /.login-background -->
<%include file="footer.html" />
<script src="/s/js/jquery-3.3.1.min.js"></script>
</body>
</html>