<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <input type="hidden" id="sidebar_flag" value="1">
        <div class="sidebar-header sidebar-logo">
        </div>

        <ul class="list-unstyled components">
            <p>Management System</p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Stock</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Stock Accessories</a>
                    </li>
                    <li>
                        <a href="#">Stock Motor Parts</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
            </li>
            <li>
                <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
            </li>
        </ul>
    </nav>
</div>
<!-- Popper.JS -->
<script src="/s/js/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            var $sidebar_val = $('#sidebar');
            var $sidebar_flag = $('#sidebar_flag');
            $sidebar_val.toggleClass('active');
            if ($sidebar_flag.val() == "1") {
                $sidebar_flag.val("0");
                $sidebar_val.css("display", "none");
                $('#content').css("width", "100%");
            }
            else {
                $sidebar_flag.val("1");
                $sidebar_val.css("display", "block");
                $('#content').css("width", "calc(100% - 280px)");
            }
        });
    });
</script>
